<div class="footer-content">
    <!-- Quick Links -->
    <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </div>

    <!-- Logo and Fun Facts -->
    <div class="footer-logo">
        <img src="/resources/favicon.ico" alt="Armor Shop Logo">
        <p>Need a quick translation? <span class="laev"></span> means "Armor Shop" in Laevanaak!</p>
        <p>Fun Fact: Did you know? The most purchased item in Xarslasja is not in the catalog.</p>
    </div>

    <!-- Additional Information -->
    <div class="footer-info">
        <h4>Contact Us</h4>
        <p>Email: atlanticarmorshop@gmail.com</p>
        <p>Discord: @xhesas</p>
        <p>Address: Alnangaemak, Vanak str., Enkavak</p>

        <!-- Social Media Icons -->
        <div class="social-media">
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="footer-bottom">
    <p>&copy; Armor Shop - Atlantic Armor and Weaponry</p>
</div>
