<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armor Shop - Locations</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h1>Armor Shop <br /> <p class="laev"></p></h1>
        <p class="laev"><em></em></p>
    </header>

    <!-- Alnangaemak Location -->
    <section class="location">
        <div class="location-image">
            <img src="/resources/AlnangaemakBuilding.png" alt="Armor Shop Building in Alnangaemak">
        </div>

        <div class="location-description">
            <h3>Alnangaemak</h3>
            <p>→ Go to the main train station (Habor Station) in Alnangaemak.</p>
            <p>→ Go north into the Vanak alleyway up to the first intersection.</p>
            <p>→ On your left: The Armor Shop</p>
        </div>
    </section>

    <!-- Yuma Location -->
    <section class="location">
        <div class="location-image">
            <img src="/resources/YumaBuilding.png" alt="Armor Shop Building in Yuma">
        </div>

        <div class="location-description">
            <h3>Yuma</h3>
            <p>→ Go to the main train station (ARY) in Yuma.</p>
            <p>→ Go west up to the first intersection.</p>
            <p>→ Go north up to the Xarslasja Legislative Authority Complex.</p>
            <p>→ Go around the west side of the building.</p>
            <p>→ On your right: The Armor Shop</p>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer" id="footer">{% include 'footer.html' %}</footer>
</body>
</html>
