<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armor Shop - Contact</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h1>Armor Shop <br /> <p class="laev"></p></h1>
        <p class="laev"><em></em></p>
    </header>

    <!-- Main Section -->
    <section class="main">
        <h3>Message sent</h3>
        <p>Your message will be seen shortly!</p>
    </section>

    <!-- Footer Section -->
    <footer id="footer" class="footer">{% include 'footer.html' %}</footer>
</body>
</html>
